body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.search {
  z-index: 1;
  position: fixed;
  top: 5px;
  left: 5px;
}

.search-field {
  width: 250px;
  padding: 5px;
}

.search-area {
  font-size: 1.0em;
  float: right;
}

.location-list {
  padding: 0;
  margin: 5px;
  overflow: auto;
}

.search-input {
  padding: 5px 10px;
  font-size: 1.0em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
}

.place {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 0.8em;
  color: black;
  cursor: pointer;
  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  transition: background-color 500ms;
  border-radius: 4px;
}

.place:hover {
  color: white;
  background-color: blue;
}

.location-item {
  padding: 10px;
  margin: 0;
  background-color: #fff;
  list-style-type: none;
  text-align: center;
  border: solid gray 0.5px;
}

.location-item:hover {
  background-color: #000;
  color: #fff;
}

.search-area {
  border-radius: 5px;
  position: absolute;
  max-height: 35%;
  max-width: 40%;
  overflow: auto;
  left: 1%;
  top: 1%;
  z-index: 2;
  background-color: white;
  opacity: 0.8;
}

/* ul {
  background: white;
  border: 1px solid darkgrey;
  overflow: auto;
  padding: 0px;
  margin: 0;
  max-height: 200px;
  overflow: auto;
} */

.box {
  cursor: pointer;
  padding: 5px;
}

.box:hover {
  background-color: #269abc;
  color: white;
}

.button {
  text-align: center;
  padding: 5px;
  background-color: white;
  border: 1px darkgrey solid;
  cursor: pointer;
  width: 334px;
}
